#category {height: 50px;background: #fcc;}
.dropdown {width: 600px;height: 100%; margin: 0 auto;}
.dropdown>li {float: left;width: 25%;line-height: 50px;text-align: center;position: relative;}
.dropdown>li:hover .dropdown2 {left: 0;}
.dropdown>li a {display: block;}
.dropdown>li a:hover {background: #B21016; color: #fff;font-weight: bold;}
.dropdown2 {position: absolute;top: 50px;left: -9999px;background: #ccc;width: 120%;}
.dropdown2>li {position: relative;}
.dropdown2>li:hover .dropdown3 {left: 100%;}
.dropdown2>li a, .dropdown3>li a {border-radius: 10px;margin: 10px;}
.dropdown3 {position: absolute;top: 0;background: #6BD089;width: 80%;left: -9999px; /*left: 100%;*/ /*display: none;*/}
.dropdown3>li a:hover {background: #085820; color: #fff;}
