/*@media (min-width:360px) and (max-width: 455px) {*/

@media(min-width: 360px) and (max-width: 564px){

    .middle>ul{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: end;
        margin: 0 0 0 0;
    }
    .icon_nav{
        width: 1.2em;
        height: 1.2em;

    }

    .search-bar {
        width: 17em;
        height: 2.6em;

    }

    .search-bar a {
        width: 15em;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .search-bar_input {
        width: 15em;
        border: none;
        -webkit-appearance: none;
        text-align: center;
        /*margin-left: 2em;*/
        overflow: auto;
        z-index: -1;
        font-size: 11px;
    }

    .search-bar_input:focus {
        outline: none;
        text-align: left;
    }
    .category_sub {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 25px;
        left: -235px!important;
        width: 500%!important;
        border-radius: 15px;
        background-color: #9E007F;
        justify-content: center;
        align-items: center;
    }
    .category_img{
        position: fixed;
        top: 20px;
        left: 20px;
    }
}


/* 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용) */
@media (max-width: 575px) {
    .logo img{
        width: 100%;
        height: 100%;
    }
    .merry{
        font-size: 12px!important;
    }
    .middle{
        height: 190px;
    }
    .middle>ul{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 130px!important;
        margin: 0 0 0 0;
    }
    .icon_nav{
        width: 1.4em;
        height: 1.4em;

    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .category_sub {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 25px;
        left: -235px!important;
        width: 715%!important;
        border-radius: 15px;
        background-color: #9E007F;
        justify-content: center;
        align-items: center;
    }
    .category_sub>li:hover .sub {
        display: none;
    }
}

/* 가로모드 모바일 디바이스 (가로 해상도가 576px보다 크고 768px 보다 작은 화면에 적용)  */
@media (min-width: 576px) and (max-width: 767px) {
    .logo img {
        width: 100%;
        height: 100%;
    }

    .merry {
        font-size: small;
        font-weight: bold;
        color: #9E007F;
    }

    .middle {
        height: 180px;
    }

    .middle > ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 190px !important;
        margin: 0 0 0 0;
    }

    .search-bar {
        width: 23em;
        height: 2.6em;

    }

    .search-bar a {
        width: 19em;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .search-bar_input {
        width: 19em;
        border: none;
        -webkit-appearance: none;
        text-align: center;
        /*margin-left: 2em;*/
        overflow: auto;
        z-index: -1;
        font-size: 11px;
    }

    .search-bar_input:focus {
        outline: none;
        text-align: left;
    }

    .bi-search {
        width: 13px;
        height: 13px;
        color: #9E007F;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 345px !important;
    }

    .nav {
        flex-direction: column;
        align-self: center;
        padding: 8px 24px;
    }

    .nav .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 310px !important;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .menu li {
        text-align: center;
        padding: 10px 0;
        font-size: 16px;
        font-weight: bold;
    }

    .category {
        display: none;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .category li {
        padding: 10px 0;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }

    .category_sub {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 25px;
        left: -218px;
        width: 675%;
        border-radius: 15px;
        background-color: #9E007F;
        justify-content: center;
        align-items: center;
    }

    .category_sub li {
        position: relative;
        text-align: center;
        padding: 5px 0;
    }

    .category_sub li:hover {
        background-color: #f2f2f2;
        color: #9E007F;
    }

    .sub {
        display: none;
    }

    .category_sub > li:hover .sub {
        display: none;
    }

    .category {
        padding-left: 12px !important;
    }

    .icon {
        display: none;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    .fas {
        display: block;
    }

    .category_img {
        display: inline-block;
        width: 27px;
        height: 27px;
        position: fixed;
        top: 250px !important;
        right: 150px !important;
    }

    .active {
        display: flex;
    }

    .deliver_icon {
        /*display: flex;*/
        /*flex-direction: row;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        border-style: solid;
        border-width: 2px;
        border-radius: 20px;
        color: #f2f2f2;
        width: 140px;
        height: 30px;
        font-size: 13.5px !important;
        text-decoration: none;
    }

    .deliver_txt {
        color: palegoldenrod;
    }
}